body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Trebuchet MS', sans-serif;
  }
html {

        scroll-behavior:smooth;
}
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      position: sticky;
      top: 0;
      background-color: white;
    }
    .button{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1400px;
      width: 100%;

    }

    .button > div {
      display: flex;
      gap: 1rem;
    }
    li {
   
      margin: 20px;
    }
    .r{
      width: 100px;
      height: 100px;
    }
    .active {
      display: block;
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: 'Trebuchet MS', sans-serif;
      
    }
    .active:hover{
      border-radius: 10vw;
      font-size: large;
      background-color: rgb(209, 209, 209);
      transition-duration: 1s;
      cursor: pointer;
    }
    .apaks{
      font-size:larger;
    }

    .virs{
    font-size: 45px;
   text-align: left;
   
  
    }
    .pamats{
      display: grid;
    place-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 70vh;
    width: 100vw;
    gap: 5rem;
    margin-bottom: 10rem;    
    
    }
   
    .attels{
      
      grid-column: 5/span 1;
      grid-row: 1/2;
      object-fit: cover;
      padding-top: 100px;
    
    }
  
  .img{
    width: 320px;
    height: 424px;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 10px;
    outline-color: #d7d7d7;
    border-radius: 10vw 10vw 10vw 10vw;
    
  }
  .text{
    grid-column: 3/span 2;
  }
  .kaka{
    display: grid;
    place-items: center;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    width: 100vw;
    gap: 3rem;
  }
  .kopne{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 800px;
    height: 400px;
    gap: 6rem;
  }
  .square{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    overflow: hidden;
    display: grid;
    place-content: center;
  
  }
  .dziv{
    width:600px;
    height: 400px;
    
    object-fit: cover;
  }
  .do{
    width:400px;
    height: 300px;
    object-fit: cover;

  }
  .animals{
    width:600px;
    height: 400px;

    object-fit: cover;
  }
 .txt{
  font-size: large;
 }
